body {
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
}

p {
    font-size: 18px;
    color: white;
    line-height: 1.8;
    min-height: 100px;
}

.topmargin-xs {
    margin-top: 15px;
}

.topmargin-sm {
    margin-top: 30px;
}

.topmargin-lg {
    margin-top: 60px;
}

.btn {
    font-size: 14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}

.btn-light {
    background-color: #ffffff;
    color: #1a1a1a;
    border: 2px solid #ffffff;
}

.navbar {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    min-height: 100px;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: rgb(73, 71, 71);
}

.logo-brand {
    min-width: 160px;
    max-width: 180px;
}

.navbar-toggler {
    font-size: 40px;
}

.navbar-toggler:focus {
    outline: none;
}

#hero {
    background-image: url("images/heroimg.jpg");
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: white;
}

#hero p {
    color: #ffffff;
}

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}

@media (max-width: 575.98px) {
    h1 {
        font-size: 40px;
        line-height: normal;
    }
}

@media (max-width: 767.98px) {
    ...
}

@media (max-width: 991.98px) {
    ...
}

@media (max-width: 1199.98px) {
    ...
}